<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Testseite</title>
</head>
<body>
    <table>
        <tr>
            <th>Stil</th>
            <th>Text</th>
        </tr>
        <tr class="highlight">
            <td>Hervorhebung</td>
            <td>farbliche Hervorhebung</td>
        </tr>
        <tr>
            <td>Default</td>
            <td>Standard Text</td>
        </tr>
    </table>
</body>
</html>
