<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Luna Project Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/Neve.png') }}" class="header-image">
        <h1>Luna Project Search</h1>
    </header>
    <table>
        <tr>
            <th>Select</th>
            <th>Project Name</th>
            <th>Size (GB)</th>
            <th>Open in Luna</th>
            <th>Open in Finder</th>
        </tr>
        {% for project in projects %}
        <tr>
            <td><input type="checkbox" name="project" value="{{ project.path }}"></td>
            <td>{{ project.name }}</td>
            <td>{{ project.size }} GB</td>
            <td>
                <form action="{{ url_for('open_luna') }}" method="post">
                    <input type="hidden" name="path" value="{{ project.path }}">
                    <button type="submit">Open in Luna</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('open_in_finder') }}" method="post">
                    <input type="hidden" name="path" value="{{ project.path }}">
                    <button type="submit">Show in Finder</button>
                </form>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">Keine Projekte gefunden.</td>
        </tr>
        {% endfor %}
    </table>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
